---
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Layout from '../layouts/Layout.astro';
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <h1 class="text-4xl">Kedves látogató!</h1>
  <p>Üdvözöllek Manka blogján!</p>
  <p>Jelenleg fejlesztés alatt áll az oldal, de hamarosan elindulunk!</p>
</Layout>
