---
import HeaderLink from './HeaderLink.astro';
import ThemeToggleButton from './ThemeToggleButton.astro';

import { SITE_TITLE } from '../consts';
---

<header>
  <nav class="bg-blue-500 dark:bg-gray-800 p-4">
    <div class="container mx-auto flex justify-between items-center">
      <!-- Logo -->
      <a
        href="/"
        class="text-2xl font-semibold text-white dark:text-yellow-300"
      >
        {SITE_TITLE}
      </a>

      <!-- Navigation Links -->
      <ul class="flex space-x-6">
        <li>
          <HeaderLink
            href="/"
            class="text-white dark:text-yellow-300 hover:text-yellow-400"
          >
            Főoldal
          </HeaderLink>
        </li>
        <li>
          <HeaderLink
            href="/about"
            class="text-white dark:text-yellow-300 hover:text-yellow-400"
          >
            Rólam
          </HeaderLink>
        </li>
        <li>
          <HeaderLink
            href="/blog"
            class="text-white dark:text-yellow-300 hover:text-yellow-400"
          >
            Blog
          </HeaderLink>
        </li>
      </ul>
      <ThemeToggleButton />
    </div>
  </nav>
</header>
